.reset-password {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 15rem;
  left: 50%;
  max-width: 40rem;
  width: 95%;
  z-index: 3;
}

.reset-password__input {
  width: 100%;
  margin: 0.5rem 0;
}

.reset-password__button {
  width: 100%;
  margin-top: 1rem;
}
