.signup {
  max-width: 50rem;
}

.signup__welcome {
  font-family: 'Permanent Marker', cursive;
}

.signup__dot {
  height: 22px;
  width: 22px;
  margin-left: 0.5rem;
  background-color: var(--color-orange);
  border-radius: 50%;
  position: absolute;
}

.signup form {
  margin-top: 3rem;
}

.signup form div {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.signup__signin-action {
  margin-top: 3rem;
  font-size: 1.6rem;
}

.signup__signin-action a {
  font-size: 1.6rem;
}

.signup__button {
  min-width: 100%;
}

.signup__disclaimer {
  margin-top: 2rem;
}

.signup__disclaimer p {
  color: rgb(123, 123, 123);
  font-size: 1.1rem;
  font-weight: 400;
}
