@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: #efecf0;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --color-orange: #eb6a0d;
  --color-orange--hover: #d55c06;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
  font-size: 4rem;
  font-weight: 700;
  color: black;
}

h4 {
  font-size: 3.2rem;
  font-weight: 700;
}

h5,
h6 {
  font-size: 1.8rem;
  font-weight: 600;
}

p,
a {
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
}

label {
  color: var(--color-orange);
  font-size: 1.4rem;
  font-weight: 500;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

input,
textarea {
  outline: none;
  border: none;
  background: transparent;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 207, 207);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
