.nav {
  background-color: white;
}

.nav__wrapper {
  margin: auto;
  max-width: 110rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav__wrapper h4 span {
  color: var(--color-orange);
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo div {
  height: 30px;
  width: 30px;
  margin-right: 0.5rem;
  background-color: var(--color-orange);
  border-radius: 50%;
}

.nav__hola {
  font-size: 1.8rem;
  font-family: 'Permanent Marker', cursive;
  margin-right: 1rem;
}

.nav__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logout-status {
  display: block;
  text-align: right;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.nav__wrapper--internal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrapper--internal div {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

@media (max-width: 523px) {
  .nav__wrapper h4 {
    font-size: 1.6rem;
  }

  .nav__logo div {
    height: 20px;
    width: 20px;
  }

  .nav__button--logout {
    font-size: 1.4rem;
    padding: 1rem 1.3rem;
  }

  .nav__hola {
    font-size: 1.5rem;
  }
}

@media (max-width: 343px) {
  .nav__wrapper--internal div {
    display: none;
  }
}
